body {
    margin: 40px;
    background-color: black;
}
#board-row:after {
    clear: both;
    content: "";
    display: table;
    text-align: center;
}
#title {
    font-family: Dialog;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 40px;
    color: white;
}
#onlyAsk {
    font-family: Dialog;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 25px;
    color: white;
}
#status {
    font-family: Dialog;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
}
#status1 {
    font-family: Dialog;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
}
#square {
    background: black;
    border: 2px solid white;
    float: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 110px;
    height: 110px;
    width: 110px;
    text-align: center;
}

#game {
    display: flex;
    flex-direction: row;

}

#gameBoard {
    margin: auto;
}
#buttonName {
    border-radius: 50%;
    font-size: 30px;
    font-family: Dialog;
    color: white;
    background-color: red;
    height: 60px;
    width: 300px;
    text-align: center;
    margin: auto;
    display: flex;
  padding-left: 50px;

}
#myDIV {
    display: none;


}
